<div class="row">
  <div class="col-xs-12">
    <h1>Jhist</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 form-inline">
    <div class="form-group">
      <label class="sr-only" for="newPlayerName">new player name</label>
      <input type="text" class="form-control" [(ngModel)]="newPlayerName" placeholder="player name" (keyup)="keyup($event)"/>
    </div>
    <button class="btn btn-primary" (click)="create()">create</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let player of players">
    <div><h2>{{ player.name }} <button class="btn btn-xs btn-danger" (click)="delete(player)">delete</button></h2></div>
    <div>
      <button class="btn btn-default" (click)="add(player, -5)">-5</button>
      <button class="btn btn-default" (click)="add(player, -1)">-1</button>
      {{ player.score }}
      <button class="btn btn-default" (click)="add(player, 1)">+1</button>
      <button class="btn btn-default" (click)="add(player, 5)">+5</button>
    </div>
  </div>
</div>
